body {
    background-color: rgb(0, 0, 255);
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: antiquewhite;
    color: antiquewhite;
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 36px;
}
h2 {
    color: antiquewhite;
}
p {
    font-size: 18px;
    line-height: 1.6;
}